In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
#toconvert timestamp
from datetime import datetime

In [3]:
%time rating_data = pd.read_csv('rating_data.csv',sep='\t',index_col=0)

CPU times: user 14.7 s, sys: 1.9 s, total: 16.6 s
Wall time: 19.6 s

In [4]:
rating_data = rating_data.drop(['timestamp'],axis=1)
rating_data['rating_score']= rating_data['rating']

In [5]:
rating_data.head()

   userId  movieId  rating  isWeekend  day_time  rating_score
0       1      135       3          0         0             3
1       1     1347       4          0         0             4
2       1     1441       4          0         0             4
3       1     2080       3          0         0             3
4       1     2827       3          0         0             3

In [6]:
rating_data.drop(['rating'],axis=1,inplace=True)

In [7]:
rating_data.head()

   userId  movieId  isWeekend  day_time  rating_score
0       1      135          0         0             3
1       1     1347          0         0             4
2       1     1441          0         0             4
3       1     2080          0         0             3
4       1     2827          0         0             3

In [8]:
def fix_ratings(x):
    return x*2

In [9]:
rating_data['rating_score'] = rating_data['rating_score'].apply(fix_ratings)

In [11]:
rating_data.to_csv('final_rating_data.csv',sep='\t')