In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./final_rating_data.csv',sep='\t')

In [6]:
df = df.reindex(np.random.permutation(df.index))

In [7]:
df.head()

          Unnamed: 0  userId  movieId  isWeekend  day_time  rating_score
9885432      9885432  106990     4963          0         1             8
11386185    11386185  123528      910          0         0            10
2132501      2132501   23508    48774          0         3             6
1163735      1163735   12938    73328          0         1             6
8171166      8171166   88290     1459          1         0             4

In [8]:
df = df.reset_index()

In [9]:
df.head()

      index  Unnamed: 0  userId  movieId  isWeekend  day_time  rating_score
0   9885432     9885432  106990     4963          0         1             8
1  11386185    11386185  123528      910          0         0            10
2   2132501     2132501   23508    48774          0         3             6
3   1163735     1163735   12938    73328          0         1             6
4   8171166     8171166   88290     1459          1         0             4

In [14]:
df = df.drop(['index'],axis=1)

In [15]:
df.head()

   Unnamed: 0  userId  movieId  isWeekend  day_time  rating_score
0     9885432  106990     4963          0         1             8
1    11386185  123528      910          0         0            10
2     2132501   23508    48774          0         3             6
3     1163735   12938    73328          0         1             6
4     8171166   88290     1459          1         0             4

In [19]:
df=df.drop(['Unnamed: 0'],axis=1)

In [20]:
df.head()

   userId  movieId  isWeekend  day_time  rating_score
0  106990     4963          0         1             8
1  123528      910          0         0            10
2   23508    48774          0         3             6
3   12938    73328          0         1             6
4   88290     1459          1         0             4

In [23]:
shuffle = df[:100000]

shuffle.to_csv('./shuffled_data.csv',sep='\t')