In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
#toconvert timestamp
from datetime import datetime

In [3]:
cols = ['user_id','item_id','rating','timestamp']
%time rating_data = pd.read_csv('./ml-latest/ratings.csv')

CPU times: user 7.57 s, sys: 556 ms, total: 8.12 s
Wall time: 8.13 s

In [4]:
movies_data = pd.read_csv('./ml-latest/movies.csv')
#tags_data = pd.read_csv('./ml-latest/tags.csv')

In [5]:
rating_data.head()

   userId  movieId  rating   timestamp
0       1      135       3  1278471458
1       1     1347       4  1278471439
2       1     1441       4  1278471475
3       1     2080       3  1278471407
4       1     2827       3  1278471579

In [6]:
#rating_store = pd.HDFStore('rating_list.h5')
#rating_store.put('rating_table',rating_data,format='table',data_columns=True)

In [7]:
#%time hdf = pd.read_hdf('rating_list.h5','rating_table')

In [8]:
#movie_store = pd.HDFStore('movie_list.h5')
#movie_store.put('movie_table',movie_data,format='table',data_columns=True)

In [9]:
test_frame = rating_data

In [10]:
def convert_unix_timestamp_to_utc_date_time(timestamp):
    utc_date_time = datetime.utcfromtimestamp(timestamp)
    return utc_date_time
def is_weekend(timestamp):
    date_time = convert_unix_timestamp_to_utc_date_time(timestamp)
    week_day = date_time.weekday()
    #its a weekend if week_daty>5 else its not weekend
    if week_day >= 5:
        return 1
    else:
        return 0

In [35]:
def check_time(timestamp):
    #latenight = 0      between 22 - 4 hours
    #earlymorning = 1   between 4 - 11 hours
    #afternoon = 2      between 11 - 18hours
    #night = 3          between 18- 22 hours
    utc_date_time = datetime.utcfromtimestamp(timestamp)
    time = int(utc_date_time.strftime("%H"))
    if time>=22 or time<= 4:
        return 0
    elif time>=4 and time<= 11:
        return 1
    elif time>=11 and time<= 18:
        return 2
    elif time>=18 and time<= 22:
        return 3

In [12]:
test_frame['isWeekend']= test_frame['timestamp'].apply(is_weekend)

In [13]:
#test_frame['isWeekend']

In [14]:
#test_frame[test_frame['isWeekend']>=1]

In [15]:
rating_data = test_frame

In [16]:
rating_data.shape

(22775244, 5)

In [17]:
new_test_dataframe = rating_data

In [36]:
new_test_dataframe['day_time'] = new_test_dataframe['timestamp'].apply(check_time)
new_test_dataframe.shape

(22775244, 6)

In [37]:
new_test_dataframe['day_time'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: day_time, dtype: bool

In [38]:
new_test_dataframe[new_test_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp, isWeekend, day_time]
Index: []

In [62]:
new_rating_data = new_test_dataframe
new_rating_data.shape

(22775244, 6)

In [65]:
#new_rating_data.to_pickle(path='./final_rating_data')

In [66]:
#%time wtf = pd.read_pickle('final_rating_data')

CPU times: user 310 ms, sys: 3.39 s, total: 3.7 s
Wall time: 17.4 s

In [68]:
new_rating_data.to_csv('rating_data.csv', sep='\t')